Package: the.overmind.replaydevel
Name: Deepworld Cheats
Depends: mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome Cydia Substrate tweak from iOSGods.com!
Maintainer: fortuneteller2k
Author: fortuneteller2k
Section: Tweaks
Homepage: https://iosgods.com
Icon: file:///Library/PreferenceBundles/rePLAYdevel.bundle/rePLAYdevel@2x.png
